* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Header y cambios */
header {
    min-height: 40vh;
    background-color: #9049BF;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/code_1.jpg');
    background-size: cover;
}

header h1 {
    font-size: 12vh;
    text-shadow: 3px 3px 5px rgb(138, 134, 134);
    transition: all 1s ease-in-out;
    animation-name: titulo-animation;
    animation-iteration-count: initial;
    animation-timing-function: ease;
    animation-duration: 2s;
}

header h1:hover{
    font-size: 16vh;
}
/* Contenido Principal */
main {
    min-height: 100vh;
    background-color: #CFACF2;
}


.fadeIn{
    animation-name: fadeIn-animation;
    animation-duration: 2s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in-out;
}

@keyframes titulo-animation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
    
    


/* NAV */
nav {
    background-color: #353340;
    height: 50px;
    text-align: center;
    position: sticky;
    top: 0;
}

.items {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item {
    height: 50px;
}

nav ul li a {
    color: #ffff;
    text-decoration: none;
    display: block;
    padding-top: 10px;
    height: 40px;
    transition: all 0.7s ease;
}

nav ul li a:hover {
    color: #9266F2;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container__img {
    width: 70%;
    transition: all 3s ease;
}

.container__img:hover {
    transform: scale(1.2);

}

.container__img img {
    width: 100%;
    height: auto;
}


footer {
    background-color: #353340;
    color: #ffff;
    height: 80px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

footer h4 {
    width: 75vw;
}

footer div {
    width: 20svw;
   
}
.footer-social ul  {
    list-style: none;
    display: flex;
}


.social img {
    width: 25px;
    height: auto;
    margin: 10px;
    transition: all 0.5s ease;
}

.social img:hover {
    filter: opacity(50%);
}